* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    background: #f4f4f4;
    padding-top: 8rem;
    /* overflow: overlay; */
  }

  body::-webkit-scrollbar {
    width: 0.5em; 
  }
   
  body::-webkit-scrollbar-track {
    background: transparent;
    /* border-radius: 10px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.188);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.512);
    border-radius: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
  }

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    overflow: hidden;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
    transition: all 0.65s;
  }

  .first_common_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0rem 4rem;
    margin: 1rem 0rem;
  }

  .second_common_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f4f4f4;
    margin: 1rem 0rem;
  }

  /* Navbar Styling Starts */

  nav {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 4rem;
    background: #f4f4f4;
    box-shadow: 0 8px 4px rgba(41,41,41,.1);
  }

  #navbar_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #navbar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 44px;
    mix-blend-mode: multiply;
  }

  #navbar_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar_content_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  #navbar_content_wrapper ul li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
    color: #292929;
    cursor: pointer;
    transition: all 0.65s;
  }

  #navbar_content_wrapper ul li:hover{
    border-radius: 10px 0px 10px 0px;
    padding: 8px 10px;
    transform: scale(1.1);
    cursor: pointer;
    background: #ea6e28;
    color: #f4f4f4;
  }

  #navbar_login_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #navbar_login_wrapper button {
    padding: 8px 10px;
    color: #f4f4f4;
    background: #ea6e28;
    font-size: 1.25rem;
    font-weight: 400;
  }

  #navbar_login_wrapper button:hover {
    border-radius: 0px 10px 0px 10px;
    color: #292929;
  }

  /* Navbar Styling Ends */

  .first_section_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #eaa228;
    padding: 6rem 0rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .first_div_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 530px;
    gap: 20px;
  }

  .first_div_left h1{
    font-family: 'Mynerve', 'cursive';
    font-size: 4rem;
    color: #292929;
  }

  .first_div_left p{
    font-size: 1.25rem;
    color: #464646;
  }

  .first_div_button_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .first_div_button_wrapper button{
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .first_div_button_wrapper button:first-child{
    background: #f4f4f4;
    border: 3px solid #a4561c;
    color: #292929;
    padding: 14.5px 24px;
  }

  .first_div_button_wrapper button:last-child{
    background: #a4561c;
    color: #f4f4f4;
  }

  .first_div_button_wrapper button:first-child:hover {
    border-radius: 0px 10px 0px 10px;
  }

  .first_div_button_wrapper button:last-child:hover {
    border-radius: 0px 10px 0px 10px;
    color: #292929;
  }


  .first_div_right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 446px;
  }

  .circular_div{
    position: absolute;
    width: 100%;
    height: 446px;
    background: #ea6e28;
    border-radius: 50%;
    background: linear-gradient(
  to bottom,
  #f4f4f4,
  #f4f4f4 50%,
  #eaa228 50%,
  #eaa228
);
/* The rectangle in which to repeat. 
   It can be fully wide in this case */
background-size: 100% 60px;

  }

  .first_div_image_wrapper{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 370px;
  }

  .second_section_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 6rem 3rem;
  }

  .second_section_wrapper h1{
    font-family: 'Mynerve', 'cursive';
    font-size: 4rem;
    font-weight: 700;
    color: #292929;
  }

  .second_section_wrapper p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #464646;
  }

  .second_div_card_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 4rem;
    gap: 30px;
    margin: 6rem 8rem;
  }

  .dish_card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 30px 10px 30px 10px;
    width: 100%;
    max-width:285px;
    padding: 2rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .dish_card_image_wrapper{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    top: -30%;
  }

  .dish_card_price_wrapper{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    top: -10%;
    right: 10%;
    border-radius: 50%;
    background: #000000;
    padding: 1rem;
  }

  .dish_card_price_wrapper p{
    color: #f4f4f4;
  }

  .dish_card_details{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dish_card_details h2{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #292929;
  }

  .dish_card_details p{
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    color: #464646;
  }

  .second_div_content_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .second_div_content_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .second_div_content_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .second_div_content_right h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    color: #292929;
  }

  .second_div_content_right p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    color: #464646;
  }

  .third_section_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #eaa228;
    padding: 6rem 0rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .third_div_left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 446px;
  }

  .third_div_list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }

  .third_div_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 530px;
    gap: 20px;
  }

  .third_div_image_wrapper{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 270px;
  }

  .third_div_right h1{
    font-family: 'Mynerve', 'cursive';
    font-size: 4rem;
    font-weight: 700;
    color: #292929;
  }

  .third_div_right p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #464646;
  }

  .third_div_list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;
    font-size: 1.5rem;
  }

  .third_div_list ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    color: #464646;
  }

  .list_item_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  .fourth_section_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;
      padding: 6rem 3rem;
  }

  .fourth_section_wrapper h1{
    font-family: 'Mynerve', 'cursive';
    font-size: 4rem;
    font-weight: 700;
    color: #292929;
  }

  .fourth_section_wrapper p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #464646;
  }

  .fourth_div_card_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .testimonial_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 30px 10px 30px 10px;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    gap: 10px;
  }

  .testimonial_card p{
    font-size: 0.95rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    color: #464646;
  }

  .testimonial_card_first{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
  }

  .testimonial_card_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }

  .testimonial_card_heading{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial_card_heading p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    font-style: normal; 
    color: #292929;
  }

  .fivth_section_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    background: #eaa228;
    padding: 6rem 0rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .fivth_div_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 530px;
    gap: 20px;
  }

  .fivth_div_left_first{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
  }

  #input_subscribe_email{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* max-width: 250px; */
    padding: 20px 30px;
    background-color: #f4f4f4;
    border-radius: 20px;
    border: none;
  }

  #subscribe_email_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    padding: 20px 30px;
    background-color: #a4561c;
    color: #f4f4f4;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0;
  }

  #subscribe_email_button:hover{
    color: #292929;
    border-radius: 0px 10px 0px 10px;
  }

  .fivth_div_right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
  }

  .fivth_div_image_wrapper{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .fivth_div_left h1{
    font-family: 'Mynerve', 'cursive';
    font-size: 2.5rem;
    font-weight: 700;
    color: #292929;
  }

  footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 4rem;
    background: #f4f4f4;
    box-shadow: 0 8px 4px rgba(41,41,41,.1);
  }

  footer h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: #292929;
  }

  footer p{
    line-height: 30px;
    color: #464646;
  }

  #footer_first_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0rem;
    width: 100%;
    gap: 15px;
    max-width: 230px;
  }

  #footer_logo_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;  
  }

  #footer_logo{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 220px;
    height: 44px;
    mix-blend-mode: multiply;
  }

  #footer_logo_wrapper h1{
    font-size: 3rem;
    font-weight: 600;
    color: #f4f4f4;
  }

  #footer_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .fa-envelope{
    color: #ea6e28;
  }

  #footer_social_media_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
  }

  .fa-brands{
    cursor: pointer;
    font-weight: 900 !important;
  }

  .fa-twitter:before{
    color: #00acee;
  }

  .fa-instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .fa-linkedin:before{
    color: #0e76a8;
  }

  #footer_second_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0rem;
    gap: 15px;
    width: 100%;
    max-width: 230px;
  }

  #footer_third_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0rem;
    gap: 15px;
    width: 100%;
    max-width: 250px;
  }

  .footer_timings{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .swiper {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 300px; */
    padding: 300px;
  }

  .swiper-slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
  }

  .swiper-button-next:after{
    color: #ea6e28 !important;
  }

  .swiper-button-prev:after{
    color: #ea6e28 !important;
  }



  .first_div_button_wrapper_mobile{
    display: none;
  }

  /* Media Queries Starts */

  @media only screen and (max-width: 500px) {
    html{
      font-size: 10px;
    }

    button{
      border-radius: 8px 0px 8px 0px;
    }

    nav{
      padding: 1rem;
    }

    #navbar_logo{
      width: 150px;
    }

    #navbar_content_wrapper{
      display: none;
    }

    .first_common_section{
      padding: 0rem 1rem;
    }

    .first_section_wrapper{
      flex-direction: column;
      padding: 2rem;
      border-radius: 16px;
      gap: 16px;
    }

    .first_div_left h1{
      text-align: center;
    }

    .first_div_left p{
      text-align: center;
    }

    .first_div_button_wrapper{
      display: none;
    }

    .circular_div{
      display: none;
    }

    .first_div_button_wrapper_mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;
      max-width: 230px;
    }
  
    .first_div_button_wrapper_mobile button{
      width: 100%;
      padding: 14px 24px;
      font-size: 1rem;
      font-weight: 500;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
  
    .first_div_button_wrapper_mobile button:first-child{
      background: #f4f4f4;
      border: 2.5px solid #a4561c;
      color: #292929;
      padding: 12.75px 24px;
    }
  
    .first_div_button_wrapper_mobile button:last-child{
      background: #a4561c;
      color: #f4f4f4;
    }
  
    .first_div_button_wrapper_mobile button:first-child:hover {
      border-radius: 0px 8px 0px 8px;
    }
  
    .first_div_button_wrapper_mobile button:last-child:hover {
      border-radius: 0px 8px 0px 8px;
      color: #292929;
    }

    .second_section_wrapper{
      padding: 2rem 1rem;
    }

    .second_div_card_wrapper{
      padding: 2rem 4rem;
      gap: 60px;
      margin: 2rem 8rem;
    }

    .second_div_content_wrapper{
      flex-direction: column;
    }

    .second_div_content_left{
      order: 1;
    }

    .second_div_content_right{
      align-items: center;
    }

    .second_div_content_right h1{
      text-align: center;
    }

    .second_div_content_right p{
      text-align: center;
    }

    .dish_card_image_wrapper{
      max-width: 95px;
    }

    .dish_card_price_wrapper{
      top: -15%;
      right: 25%;
    }

    .third_section_wrapper{
      flex-direction: column;
      padding: 2rem;
      gap: 16px;
    }

    .third_div_left{
      order: 1;
    }

    .third_div_right{
      align-items: center;
    }

    .third_div_right p{
      text-align: center;
    }

    .third_div_list{
      flex-direction: column;
      gap: 0px;
    }

    .fourth_section_wrapper{
      padding: 2rem 1rem;
    }

    .fivth_section_wrapper{
      padding: 2rem;
      border-radius: 16px;
    }

    .fivth_div_left_first{
      flex-direction: column;
    }

    #input_subscribe_email{
      padding: 16px;
      border-radius: 8px;
    }

    #subscribe_email_button{
      max-width: 100%;
    }

    .fivth_div_right{
      display: none;
    }

    footer{
      display: none;
    }
  }
  /* Media Queries Ends */