* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", cursive;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    background: #ea6e28;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
   
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.188);

  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.512);
    border-radius: 8px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
  }

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    overflow: hidden;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
    transition: all 0.65s;
  }

  .first_common_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0rem 4rem;
    margin: 4rem 0rem;
  }

  .second_common_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url("/images/ThirdImage.jpg");
    margin: 4rem 0rem;
  }

  /* Navbar Styling Starts */

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0rem;
  }

  #navbar_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #navbar_logo_wrapper h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
  }

  #navbar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
  }

  #navbar_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar_content_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #navbar_content_wrapper ul li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }

  #navbar_login_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #navbar_login_wrapper button {
    padding: 8px 10px;
    color: #ea6e28;
    background: #ffffff;
    font-size: 1rem;
    font-weight: 700;
  }

  #navbar_login_wrapper button:hover {
    border-radius: 0px 10px 0px 10px;
    color: #000000;
  }

  /* Navbar Styling Ends */

  .first_section_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #ffffff;
    padding: 6rem 0rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .first_div_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: black;
    width: 100%;
    max-width: 530px;
    gap: 20px;
  }

  .first_div_left h1{
    font-family: 'Mynerve', cursive;
    font-size: 4rem;
  }

  .first_div_button_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .first_div_button_wrapper button{
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .first_div_button_wrapper button:first-child{
    background: #ffffff;
    border: 3px solid #ea6e28;
    color: #000000;
  }

  .first_div_button_wrapper button:last-child{
    background: #ea6e28;
    color: #ffffff;
  }

  .first_div_button_wrapper button:first-child:hover {
    border-radius: 0px 10px 0px 10px;
  }

  .first_div_button_wrapper button:last-child:hover {
    border-radius: 0px 10px 0px 10px;
    color: #000000;
  }


  .first_div_right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circular_div{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #ea6e28;
    /* z-index: -1; */
    border-radius: 50%;
    background: linear-gradient(
  to bottom,
  #ea6e28,
  #ea6e28 50%,
  #ffffff 50%,
  #ffffff
);
/* The rectangle in which to repeat. 
   It can be fully wide in this case */
background-size: 100% 60px;

  }

  .first_div_image_wrapper{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 370px;
  }

  .second_section_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    /* background: url("/images/ThirdImage.jpg"); */
    padding: 6rem 3rem;
  }

  .second_section_wrapper h1{
    font-family: 'Mynerve', cursive;
    font-size: 4rem;
    font-weight: 700;
  }

  .second_section_wrapper p{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  .second_div_card_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 4rem;
    gap: 30px;
    margin: 6rem 8rem;
  }

  .dish_card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 30px 10px 30px 10px;
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .dish_card_image_wrapper{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    top: -40%;
  }

  .dish_card_price_wrapper{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    top: -10%;
    right: 10%;
    border-radius: 50%;
    background: #000000;
    color: #ffffff;
    padding: 1rem;
  }

  .dish_card_details{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dish_card_details h2{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  .dish_card_details p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }

  .second_div_content_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .second_div_content_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .second_div_content_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .second_div_content_right h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
  }

  .second_div_content_right p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
  }

  .third_section_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #ffffff;
    padding: 6rem 0rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .third_div_left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
  }

  .third_div_list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }

  .third_div_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 530px;
    gap: 20px;
  }

  .third_div_image_wrapper{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 370px;
  }

  .third_div_right h1{
    font-family: 'Mynerve', cursive;
    font-size: 4rem;
    font-weight: 700;
  }

  .third_div_right p{
    font-size: 1.5rem;
    font-weight: 400;
  }

  .third_div_list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;
    font-size: 1.5rem;
  }

  .third_div_list ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
  }

  .list_item_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
